<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crawl data</title>
</head>
<body>
    <form action="/admin/crawl" method="POST">
        <p>link thông tin từ phimmoi</p>
        <input type="text" name="link">
        <p>đường dẫn</p>
        <input type="text" name="url">
        <input type="text" name="url2">
        <button>gửi</button>
    </form>
</body>
</html>