<!-- bắt đầu footer -->
<div class="container-fluid" style="padding: 0%;">
    <div class="footer">
        <div class="row">
            <div class="col-sm-12">
                <div class="manager footer">
                    <div class="logofooter">
                        <img class="logofilm" src="https://movies.fimplus.vn/images/logo.png" alt="logo">
                    </div>
                    <div class="dat">
                        <div class="social1">
                            <div class="social-item facebook1">
                                <a class="btn2" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="social-item google1">
                                <a class="btn3" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <div class="social-item twitter1">
                                <a class="btn2" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                            <div class="social-item youtube1">
                                <a class="btn1" href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                        <div class="footer-copyright ">
                            <p>© 2020 Copyright</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- kết thúc footer -->